<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Foto de Perfil y Botón en una Fila -->
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-align-self-center">
            <ion-item lines="none">
              <ion-avatar>
                <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
              </ion-avatar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Información del Usuario -->
      <ion-item>
        <ion-label>Cédula</ion-label>
        <ion-text>{{ userData.cedula }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-text>{{ userData.nombres }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-text>{{ userData.apellidos }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Género</ion-label>
        <ion-text>{{ userData.genero }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-text>{{ userData.direccion }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Ciudad</ion-label>
        <ion-text>{{ userData.ciudad }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Zona</ion-label>
        <ion-text>{{ userData.zona }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Recinto</ion-label>
        <ion-text>{{ userData.recinto }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Teléfono 1</ion-label>
        <ion-text>{{ userData.telefono1 }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Teléfono 2</ion-label>
        <ion-text>{{ userData.telefono2 }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>