// Estilos generales para el header
ion-header {
  --background: #000; // Fondo negro base
  background: linear-gradient(135deg, #1e2e38, #1f1f1f, #1f1f1f, #1e2e38); // Gradiente oscuro
  padding: 0 10px 0 0;
}

// Estilos para el toolbar dentro del header
ion-toolbar {
  --background: transparent; // Toolbar transparente para mostrar el gradiente
}

// Estilo del título en el header
ion-title {
  color: #ffffff; // Color del texto blanco
}

// Estilo para los botones en el header
ion-buttons ion-button {
  --background: #6200ee; // Color de fondo morado oscuro para el botón
  --color: #ffffff; // Color del texto blanco
  border-radius: 12px; // Bordes redondeados para el botón
  font-weight: bold; // Texto en negrita
}

// Estilos para el contenido principal
ion-content {
  --background: #121212; // Fondo oscuro para el contenido
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

// Estilos para el card
ion-card {
  max-width: 500px; // Ancho máximo del card
  background-color: #1e1e1e; // Fondo oscuro del card
  border-radius: 12px; // Bordes redondeados del card
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); // Sombra más pronunciada
}

// Estilos para el card header
ion-card-header {
  --background: #1e1e1e; // Fondo oscuro para el card header
  color: #ffffff; // Color del texto blanco
}

// Estilo del título del card
ion-card-title {
  font-size: 1.25rem; // Tamaño del texto
  font-weight: bold; // Texto en negrita
}

// Estilos para el avatar
ion-avatar {
  border-radius: 50%; // Bordes redondeados para el avatar
  border: 2px solid #6200ee; // Borde morado oscuro
}

// Estilos para los ítems del card
ion-item {
  margin-bottom: 12px;
  --background: #2c2c2c; // Fondo oscuro para los ítems
  --border-color: #444; // Color del borde
  border-radius: 8px; // Bordes redondeados para los ítems
}

// Estilo para el texto dentro de los ítems
ion-text {
  color: #ffffff; // Color del texto blanco
}
