<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon aria-hidden="true" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Resultados del Acta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resultados del Acta</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <!-- Información del acta -->
      <ion-item lines="none">
        <ion-label>Papeleta:</ion-label>
        <ion-text slot="end">0987654321</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Provincia:</ion-label>
        <ion-text slot="end">Juan Alfredo</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Canton:</ion-label>
        <ion-text slot="end">Pérez Pérez</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Parroquia:</ion-label>
        <ion-text slot="end">Masculino</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Zona:</ion-label>
        <ion-text slot="end">123 Calle Principal, Calle secundaria</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Recinto:</ion-label>
        <ion-text slot="end">Guayaquil</ion-text>
      </ion-item>
      
      <ion-card-title>Cantidad de Votos</ion-card-title>

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-label>Totales:</ion-label>
            <ion-item lines="none">
              <ion-text slot="end">300</ion-text>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-label>Validos:</ion-label>
            <ion-item lines="none">
              <ion-text slot="end">200</ion-text>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-label>Blancos:</ion-label>
            <ion-item lines="none">
              <ion-text slot="end">80</ion-text>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-label>Nulos:</ion-label>
            <ion-item lines="none">
              <ion-text slot="end">20</ion-text>
            </ion-item>
          </ion-col>
        
        </ion-row>
      </ion-grid>

      <ion-grid>

        <ion-row>

          <ion-col size="9">
            <ion-label>Candidato</ion-label>
          </ion-col>

          <ion-col>
            <ion-label>Total Votos</ion-label>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="9">
            <ion-item lines="none">
              <ion-label>Daniel Noboa - ADN</ion-label>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-text slot="end">75</ion-text>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="9">
            <ion-item lines="none">
              <ion-label>Luisa Gonzalez - RC</ion-label>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-text slot="end">65</ion-text>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="9">
            <ion-item lines="none">
              <ion-label>Jan Topic - PSC</ion-label>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-text slot="end">35</ion-text>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="9">
            <ion-item lines="none">
              <ion-label>Christian Zurita - MC25</ion-label>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-text slot="end">25</ion-text>
            </ion-item>
          </ion-col>

        </ion-row>

      </ion-grid>

      <ion-button expand="full" type="submit" (click)="presentAlert()">Guardar y Enviar</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>