<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Cédula</ion-label>
        <ion-input formControlName="iduser" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
      
      <ion-button expand="block" fill="clear" color="medium" (click)="onForgotPassword()">¿Olvidaste tu contraseña?</ion-button>

      <!-- Botón para redirigir a la página de registro -->
      <ion-button expand="block" color="secondary" (click)="onRegister()">Registrarse</ion-button>
    </form>
  </div>
</ion-content>
