// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$base-background: #000;
$content-background: #121212;
$card-header-background: #1e1e1e;
$item-background: #2c2c2c;

$header-gradient: linear-gradient(135deg, #1e2e38, #1f1f1f, #1f1f1f, #1e2e38);
$color-text: #ffffff;

$avatar-border: #6200ee;
$item-border: #444;
$button-primary: #6200ee;
