<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon aria-hidden="true" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    
    <ion-item>
      <ion-label position="floating">Cédula</ion-label>
      <ion-input formControlName="cedula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="contraseña" type="password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombres"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="apellidos"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Género</ion-label>
      <ion-select formControlName="genero">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Femenino">Femenino</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input formControlName="direccion"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-select formControlName="ciudad">
        <ion-select-option value="Guayaquil">Guayaquil</ion-select-option>
        <ion-select-option value="Quito">Quito</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Zona</ion-label>
      <ion-select formControlName="zona">
        <ion-select-option value="Norte">Norte</ion-select-option>
        <ion-select-option value="Centro">Centro</ion-select-option>
        <ion-select-option value="Sur">Sur</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Recinto</ion-label>
      <ion-select formControlName="recinto">
        <ion-select-option value="Recinto 1">Recinto 1</ion-select-option>
        <ion-select-option value="Recinto 2">Recinto 2</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Teléfono 1</ion-label>
      <ion-input formControlName="telefono1"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Teléfono 2</ion-label>
      <ion-input formControlName="telefono2"></ion-input>
    </ion-item>
  
    <ion-button [disabled]="!registroForm.valid" expand="full" type="submit">Registrar</ion-button>
  </form>
  
</ion-content>
