<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <ion-card-header>
      <ion-card-title>Elecciones Presidenciales</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [title]="chartOptions.title"
          [legend]="chartOptions.legend">
        </apx-chart>
      </div>
    </ion-card-content>

  </ion-card>

  

  


</ion-content>
